body {
  padding: 20px;
  background-color: #a3d5d3;
}

.input_task {
  width: 50%;
  display: inline-block;
}

.link {
  cursor: pointer;
  color: white
}

.link-icon {
  color: #025aa5;
  font-size: 15px;
  margin-left: 5px;
}

.btn_submit {
  margin-left: 5px;
  cursor: pointer;
  width: 100px;
}

.todo__task_crossed {
  text-decoration: line-through;
}

.todo__task_regular {

}